* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aqua;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.options {
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

button {
    border-radius: 10px;
    border-color: gray;
    background-color: orange;
    height: 50px;
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
}

.results {
    background-color: lime;
    min-height: 200px;
    color: black;
    font-size: 36px;
    padding: 15px;
    text-align: center;
}