@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
/*   border: 3px solid red; */
}

body {
  font-family: 'Caveat', helvetica, sans-serif;
  background-image: url("https://wallpapers.com/images/hd/light-brown-crumpled-paper-pn052rpaie1u6fei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
  min-height: 100%;
}

header {
  font-size: 2rem;
  padding: 1em 0 0 .5em;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  position: relative;
}

.explanation {
    font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  margin: 0 1em;
  position: relative;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-container {
    background-color: #987A4F;
    border: 20px solid #987A4F;
    border-radius: 500px;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.5);
    transition: border 0.2s;
    height: 250px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 500px;
}

.image-container:hover {
    cursor: pointer;
    border: 30px solid #987A4F;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding: .3em 0 0 0;
    height: 275px;
    margin-bottom: .15em;
}

.game-standings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-again {
    display: none;
    width: 200px;
    background-color: #987A4F;
    border: 20px solid #987A4F;
    border-radius: 50px;
    color: black;
    font-size: 2.3rem;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.5);
    transition: width 0.2s;
    transition: height 0.2s;
    font-family: 'Caveat', helvetica, sans-serif;
    line-height: 30px;
}

.play-again:hover {
    cursor: pointer;
    line-height: 40px;
    width: 220px;
}

footer {
  background-color: white;
  
}